<nav class="navbar bg-muted" >
    <div class="container">
        <span class="navbar-brand mb-0 h1"><%= link_to 'Inicio', groups_path %></span>
        <span class="navbar-brand mb-0 h1"><%= link_to 'Conciertos', concerts_path %></span>
        <span class="navbar-brand mb-0 h1"><%= link_to 'Integrantes', crews_path %></span>
    </div>
</nav>

